/* General */

a {
    text-decoration: none;
    color: #212121;
}
a:visited {
    color: #212121;
}
a:hover {
    color: #69bb7e;
}

/* Utility */

.link-button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-weight: inherit;
    font-size: inherit;
    color: #212121;
}
.link-button:visited {
    color: #69bb7e;
}
.link-button:hover {
    color: #69bb7e;
}

/* Cart Page */

.cart-section {
    display: grid;
    /*grid-template-columns: 2fr 1fr;*/
    grid-gap: 30px;
}
.cart-section h2 {
    margin-bottom: 30px;
}
.cart-section .cart-table-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #919191;
    padding: 14px 0;
}
.cart-section .cart-table-row:last-child {
    border-bottom: 1px solid #919191;
}
.cart-section .cart-table-row .cart-table-row-left, .cart-section .cart-table-row .cart-table-row-right {
    display: flex;
    justify-content: space-between;
}
.cart-section .cart-table-row .cart-table-row-right {
    width: 50%;
}

.cart-table-row-left {
    width: 33%;
}
.cart-section .cart-table-row .cart-table-row-right {
    width: 33%;
    padding-top: 10px;
}
.cart-section .cart-table-row .cart-table-img {
    max-height: 75px;
}
.cart-section .cart-table-row .cart-table-actions {
    text-align: right;
    font-size: 14px;
}
.cart-section .cart-table-row .cart-item-details {
    padding-top: 5px;
}
.cart-section .cart-table-row .cart-table-description {
    color: #919191;
}
.cart-section .cart-totals {
    margin: 30px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
}
.cart-section .cart-totals .cart-totals-left {
    width: 50%;
}
.cart-section .cart-totals .cart-totals-right {
    display: flex;
    justify-content: space-between;
    width: 25%;
    text-align: right;
}
.cart-section .cart-totals .cart-totals-total {
    font-weight: bold;
    font-size: 22px;
    line-height: 2;
}
.cart-section .cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
